.about-wrapper {
  margin-bottom: 3rem;
}

.about-intro {
  padding: 1.2rem 1.5rem;
}

.projectsContainer {
  margin-bottom: 4rem;
}

.img-experience-container {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.imageFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  font-size: 2.1rem;
  text-align: center;
}

.years {
  font-size: 4rem;
}

.arrayImages {
  width: 100%;
  height: 100%;
  background: #8273b1;
}

.arrayImages img {
  width: 80%;
  height: 90%;
  object-fit: cover;
}

.clientsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  text-align: center;
  margin-bottom: 2rem;
}

.worked {
  font-weight: 600;
  font-size: 2rem;
}

.brandsContainer {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2.5rem;
  grid-template-rows: repeat(3, 5rem);
  min-height: 40vh;
}

.clientContainer {
  animation: none;
}

.imgMarque {
  width: 15rem;
  padding: 0.6rem;
  display: inline-block;
}

.background_section {
  background: black;
  min-height: 100vh;
  background: url(../../images/teamdiscuss/team_discuss.jpg) no-repeat center
    fixed;
  background-size: cover;
  border-image: fill 1
    linear-gradient(hsla(236, 92%, 48%, 0.4), hsla(29, 97%, 49%, 0.4));

  display: flex;
  align-items: center;
  justify-content: center;
}

.text_container_bottom {
  width: 75%;
  margin: 0 auto;
}
