.add_border {
  border: 1px solid red;
}

.margin_auto2 {
  margin: 0 auto;
  width: 96%;
}

.min_width70 {
  min-width: 67%;
}

.img_size {
  width: 50%;
  padding-left: 0.9rem;
}

.header_culture {
  /* width: 96%; */
  width: 100%;
  margin-top: 7rem;
  margin: 0 auto;
  color: white;
  background-color: black;
}

.box_shadow1 {
  box-shadow: 10px 15px 17px 12px rgb(207, 197, 197) inset,
    12px 18px 20px 15px rgb(57, 118, 148) inset;
}

.videoMain {
  width: 100%;
  height: 100vh;
  background: 5px solid red;
}

.videoContainer {
  width: 95%;
  margin: 0 auto;
  object-fit: cover;
}

.hero_video_container {
  height: 100vh;
  position: relative;
}

.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-image: fill 1
    linear-gradient(hsla(197, 50%, 58%, 0.3), hsla(0, 52%, 45%, 0.35));
}

.hero_video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.headerSection {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

@media (max-width: 623px) {
  .headerSection {
    display: none;
  }
}
