.add_border {
  border: 1px solid red;
}

.min_width70 {
  min-width: 67%;
}

.img_size {
  width: 40%;
}

.header_culture {
  width: 96%;
  margin-top: 7rem;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .headerSection {
    display: none;
  }
}
